/* You can add global styles to this file, and also import other style files */
.p-progress-spinner {
    display:  block !important;
    position: static !important;
}

.p-progress-spinner-svg {
    width: 25% !important;
}